.add,
.edit,
.delete {
	border: none !important;
	height: 17px;
	width: 17px;
	/* margin-right: 10px; */
}
.add {
	background-color: #2574ad !important;
	border-radius: 0 !important;
	width: 140px;
	height: 50px;
	padding: 15px 20px;
	font-weight: bolder !important;
	font-size: 1.1rem !important;
}
.edit {
	background: url("../icons/edit.svg") no-repeat !important;
	background-position: 0% 70% !important;
	margin-right: 35px;
}
.delete {
	background: url("../icons/delete.svg") no-repeat !important;
}
