tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: hidden !important;
    border-width: 0;
}
.table {
	width: 300px;
}

td {
	/* width: 200%; */
}

th {
	/* width: 200%; */
}
th,
.bold {
	font-weight: bold;
}
.edit {
	/* margin-right: 35px; */
}
.buttons {
	/* display: flex; */
    /* width: 8%; */
	align-items: center;
	justify-content: space-evenly;
	/* flex-direction: column; */
	height: 100%;
    /* padding: 0; */
}
/* tbody tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
